<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>리스트 페이지</title>
</th:block>

<th:block layout:fragment="content">
    <div class="page_tits">
        <h3>게시판 관리</h3>
        <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>리스트</span></p>
    </div>

    <div class="content">
        <section>
            <!--/* 검색 */-->
            <div class="search_box">
                <form id="searchForm" onsubmit="return false;" autocomplete="off">
                    <div class="sch_group fl">
                        <!--searchType(제목,내용,작성자)과 keyword를 넘긴다.-->
                        <select title="검색 유형 선택" id="searchType" name="searchType">
                            <option value="">전체 검색</option>
                            <option value="title">제목</option>
                            <option value="content">내용</option>
                            <option value="writer">작성자</option>
                        </select>
                        <input id="text" name="keyword" type="text" placeholder="키워드를 입력해 주세요." title="키워드 입력"/>
                        <button type="button" class="bt_search" onclick="movePage(1)"><i class="fas fa-search"></i><span
                                class="skip_info">검색</span></button>
                    </div>
                </form>
            </div>

            <!--/* 리스트 */-->
            <table class="tb tb_col">
                <colgroup>
                    <col style="width:50px;"/>
                    <col style="width:7.5%;"/>
                    <col style="width:auto;"/>
                    <col style="width:10%;"/>
                    <col style="width:15%;"/>
                    <col style="width:7.5%;"/>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col"><input type="checkbox"/></th>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">등록일</th>
                    <th scope="col">조회</th>
                </tr>
                </thead>

                <!--/*리스트 데이터 렌더링 영역 => 기존의 타임리프 반복문에서 JS로 바꾼다.*/-->
                <tbody id="list"></tbody>
            </table>

            <!--/* 페이지네이션 렌더링 영역 => 마찬가지로 JS로 바꾼다.*/-->
            <div class="paging"></div>

            <!--/* 버튼 */-->
            <p class="btn_set tr">
                <a th:href="@{/post/write.do}" class="btns btn_st3 btn_mid">글쓰기</a>
            </p>
        </section>
    </div> <!--/* .content */-->
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.onload = () => {
            setQueryStringParams();
            findAllPost();
        }

        // 쿼리 스트링 파라미터 셋팅
        const setQueryStringParams = () => {
            if (!location.search) {
                return false;
            }
            // list page의 검색 폼
            const form = document.getElementById("searchForm");

            // JS에서 location 객체의 search를 이용하면 쿼리 스트링 파라미터를 조회할 수 있습니다.
            /*
            * form은 리스트 페이지의 검색 폼(searchForm)을 의미하며,
            * new URLSearchParams( ) 함수의 인자로 현재 페이지의 쿼리 스트링을 전달해서 쿼리 스트링 문자열에 포함된 각 파라미터(key=value)를 객체화한 후,
            * 검색 유형(searchType)과 키워드(keyword)의 값을 searchForm에 세팅합니다
            * */
            new URLSearchParams(location.search).forEach((value, key) => {
                if (form[key]) {
                    form[key].value = value;
                }
            })
        }

        const findAllPost = () => {
            const list = [[${response.list}]];

            if (!list.length) {
                document.getElementById("list").innerHTML = "<td colspan='6'><div class='no_data_msg'>검색된 결과가 없습니다.</div></td>";
                //drawPage();
            }

            const pagination = [[${response.pagination}]];

            const params = [[${params}]];

            let num = pagination.totalRecordCount - ((params.page - 1) * params.recordSize);

            drawList(list, num);

            drawPage(pagination, params);
        }

        /*
        * 리스트 페이지에서 상세 페이지로 이동할 때 쿼리 스트링 파라미터를 전달하도록 list.html의 drawList( )를 다음과 같이 변경해 주세요.
        * */
        const drawList = (list, num) => {
            let html = '';

            list.forEach(row => {
                html += `
                    <tr>
                    <td><input type="checkbox"/></td>
                    <td>${row.noticeYn === false ? num-- : '공지'}</td>
                    <!-- 상세페이지 이동시 쿼리 스트링 파라미터로 전달하기 위함 -->
                    <td class="tl"><a href="javascript:void(0)" onclick="goViewPage(${row.id})">${row.title}</a></td>
                    <td>${row.writer}</td>
                    <td>${dayjs(row.createdDate).format("YYYY-MM-DD HH:mm")}</td>
                    <td>${row.viewCnt}</td>
                    </tr>
                `
            })
            document.getElementById("list").innerHTML = html;
        }

        // 게시글 상세 페이지 이동 => href대신 이걸로 함
        const goViewPage = (id) => {
            //location.search => URI
            // location.search를 이용해서 게시글 번호(id)와 쿼리 스트링 파라미터를 상세 페이지로 함께 전달합니다.
            const queryString = (location.search) ? location.search + `&id=${id}` : `?id=${id}`;
            location.href = "/post/view.do" + queryString;
            /*
            * 해당 함수에서 queryString에 삼항 연산자가 사용되었는데요. 처음 리스트 페이지로 접근했을 때는 쿼리 스트링이 비어있는 상태가 되며, 이는 현재 페이지가 1페이지임을 의미합니다.
            * 이때 location.search는 빈 문자열(' ')을 리턴하기 때문에 게시글 번호(id)만 쿼리 스트링으로 전달하고,
            * 이외의 경우에는 페이지 정보, 검색 조건, 게시글 번호(id)를 함께 전달합니다.
            * */
        }

        // 페이지 HTML draw
        const drawPage = (pagination, params) => {
            if (!pagination || !params) {
                document.getElementById("paging").innerHTML = "";
                throw new Error("Missing required parameters..");
            }

            let html = "";

            if (pagination.existPrevPage) {
                html += `
                <a href="javascript:void(0)" onclick="movePage(1)" class="page_bt first">첫 페이지</a>
                <a href="javascript:void(0)" onclick="movePage(${pagination.startPage - 1})" class="page_bt prev">이전 페이지</a>
                `;
            }

            html += '<p>';
            for (let i = pagination.startPage; i <= pagination.endPage; i++) {
                html += (i !== params.page)
                    ? `<a href="javascript:void(0)" onclick="movePage(${i})">${i}</a>`
                    : `<span class="on">${i}</span>`
            }
            html += '</p>';

            if (pagination.existNextPage) {
                html += `
                <a href="javascript:void(0)" onclick="movePage(${pagination.endPage + 1})" class="page_bt next">다음 페이지</a>
                <a href="javascript:void(0)" onclick="movePage(${pagination.totalPageCount})" class="page_bt last">마지막 페이지</a>
                `
            }

            document.querySelector(".paging").innerHTML = html;
        }

        // 검색시에도 이 함수가 호출된다, searchType과 keyword를 보내줘야하니 수정한다.
        const movePage = (page) => {

            // 1. 검색 폼
            const searchForm = document.getElementById("searchForm");

            const queryParams = {
                page: (page) ? page : 1,
                recordSize: 10,
                pageSize: 10,
                // name으로 접근해 검색 파라미터를 넘김
                searchType: searchForm.searchType.value,
                keyword: searchForm.keyword.value
            }
            location.href = location.pathname + "?" + new URLSearchParams(queryParams).toString();
        }

        /*]]>*/
    </script>
</th:block>

</html>